<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.scss">
    <title>Document</title>
</head>
<body>
    <div class="indicador hist">
        <h3>Historial</h3>
        <p>Descripcion</p>
        <div class="divi">
            <div class="graf">
                <div class="donut" style="background: conic-gradient(
                    #28a745 0% 25%,
                    #fffb00 25% 50%,
                    #ffa600 50% 75%,
                    #ff0000 75% 100%

                );">
                    <div></div>
                </div>
            </div>
            <div class="properties">
                <p>Verde: </p>
                <p>Amarillo: </p>
                <p>Naranja: </p>
                <p>Rojo: </p>
                <p>Sin datos: </p>
            </div>
        </div>
    </div>
</body>
</html>